.reel{
  display:inline-flex;
  flex-direction:column;
  &-item{
	padding:10px;
	border:1px solid grey;
  }
}
.clr{
  &-r{
	color:red;
  }
  &-b{
	color:blue;
  }
  &-g{
	color:green;
  }
}

#start{
  vertical-align:middle;
  display:inline-block;
}