doctype html
html
	head
		link(type='text/css', rel='stylesheet', href='css/style.css')
		title Hello
	body
		#slot-machine
			#result
			.reel#reel1
				.reel-item.clr-r Tea
				.reel-item.clr-b Coffee
				.reel-item.clr-g Espresso
			.reel#reel2
				.reel-item.clr-r Tea
				.reel-item.clr-b Coffee
				.reel-item.clr-g Espresso
			.reel#reel3
				.reel-item.clr-r Tea
				.reel-item.clr-b Coffee
				.reel-item.clr-g Espresso
			button#start Lever
		script(src='js/script.js')